<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Pets Friendly &#124; {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link rel="icon" href="https://pets-friendly.ru/favicon.svg" type="image/svg+xml">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/base.css' %}">
        {% block extrahead %}{% endblock %}
        {% block script %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="logo">
                    <a href="/"><img src="{% static 'main_app/img/logo.jpg' %}" alt="Logo"></a>
                </div>
                <div class="top-menu">
            </div>
            </header>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <ul class="footer-navigation-link-list">
                            <li class="footer-navigation-link">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>