<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Pets Friendly &#124; {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link rel="icon" href="https://pets-friendly.ru/favicon.svg" type="image/svg+xml">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/base.css' %}">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__logo">
                    <a href="/"><img src="{% static 'main_app/img/logo.jpg' %}" alt="Logo"></a>
                </div>
                <nav class="header__nav">
                    <ul class="header__nav__list">
                        <li class="header__nav__item">
                            <a href="/" class="header__nav__link">Добавить свой отель</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer__content">
                    <div class="footer__content__tab"></div>
                    <div class="footer__content__tab"></div>
                    <div class="footer__content__tab"></div>
                    <div class="footer__content__tab">
                        <ul class="footer__nav">
                            <li class="footer__nav__item">
                                <a href="{% url 'help' %}" class="footer__nav__link">Связаться с нами</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {% block script %}{% endblock %}
    </body>
</html>