{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ yandex_map_api_key }}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'main_app/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<form name="select_city" method="POST">
    {% csrf_token %}
    <p class="header">
      <b>Введите адрес:</b><br>
      <input type="text" id="input_address">
    </p>
    <p class="header">
        <input type="button" onclick="getGeoCode()" value="Найти">
    </p>
</form>
{% endblock %}