.content {
    padding-top: 100px;
    text-align: center;
}

p.address {
    display: inline-block;
}

input.text_address {
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    width: 500px;
}

input.button_address {
    appearance:none;
    -webkit-appearance:none;
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    width: 120px;
}