.content {
  padding-top: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 24px 0;
}

.form__adress__input,
.form__adress__btn {
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

.form__adress__input {
  padding: 8px;
  width: 500px;
}

.form__adress__btn {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background: #3F51B5;
  color: #FFF;
  width: 120px;
}

.form__adress__btn:hover {
  background: #E27715;
  cursor: pointer;
}